@import '../../styles/variables.less';

.kandidatdetaljer {
    max-width: @content-max-width;
    margin: 0 auto;
    padding: 0 1rem 3.5rem;

    .tilbake {
        margin-bottom: 0;
    }

    &__sistEndretOgKnapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        height: 2rem;
    }

    &__knapper {
        display: flex;
        align-items: center;
    }

    &__slettknapp {
        height: 2rem;
        padding: 0 2rem;
        margin-right: 1rem;
    }

    &__sistEndret {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .brødsmulesti {
        margin-bottom: 1.5rem;
    }
}
