.kandidatliste {
    padding: 0;

    &__kandidat {
        display: flex;
    }

    &__listElement {
        display: block;
    }

    &__rad {
        width: 90%;
        display: flex;

        span {
            flex: 1;
        }
    }
}
