.skjemaelement {
    &__label {
        font-weight: bold;
    }

    input[type='radio'] ~ &__label,
    input[type='checkbox'] ~ &__label {
        font-weight: normal;
    }

    input[type='checkbox'] ~  &__label {
        &::before {
            border-color: @navGra20;
        }
    }
}

.ekspanderbartPanel {
    &__hode {
        padding: 1rem 1.5rem;
    }

    &__innhold {
        padding: 0.5rem 1.5rem 1.5rem;
    }
}

.filtrering {
    .ekspanderbartPanel {
        &__hode {
            padding: 1rem;
        }

        &__innhold {
            padding: 0.5rem 1rem 1rem;
        }
    }
}

// Fiks tekstfarge ved fokus på knapper som også er lenker.
a.knapp--hoved:focus:not(:active):not(:hover) {
    color: @navBla;

    svg {
        fill: @navBla;
    }
}
