@import '../../styles/variables.less';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 6.25rem;
    padding: 0 2rem;

    &__tittel {
        display: inline-block;
        font-size: 1.5rem;
        color: @navMorkGra;

        &:hover {
            color: @navGra60;
        }
    }
}
