@import '../../styles/variables.less';

@bredde: 70rem;
@filterbredde: 18rem;
@minAvstandMellom: 1.5rem;
@maksAvstandMellom: 7rem;

.oversikt {
    display: flex;
    max-width: @bredde;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1rem;

    &__antallOgKnapp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0rem;
        height: 4rem;
    }

    &__kandidaterSpinner {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }

    .lenkepanel {
        margin-bottom: 0.5rem;
    }

    @media (min-width: @tablet-breakpoint) {
        &__filterOgKandidatliste {
            display: flex;
            justify-content: space-between;
        }

        &__filter {
            width: @filterbredde;
            margin-right: @minAvstandMellom;
        }

        &__kandidatliste {
            width: @bredde - @filterbredde - @maksAvstandMellom;
        }
    }
}
